
    <h1>Użytkownicy</h1>
    <ul>
        <% users.forEach(user => { %>
            <li><a href="/profile/<%= user.id %>">- <%= user.name %> (id: <%= user.id %>)</a></li>
        <% }); %>
    </ul>
